{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block extralinks %}
{% load thumbnail %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container content-wrapper">
  <!-- heading_create starts here -->
  <div class="filter_row list_filter_row row marl">

  <div class="col-md-12">
    <form id="leads_filter inline-form" action="" method="POST">
      <div class="card-body text-center">
        <div class="row marl">
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search Phone number or Name" name="search_text" value="{{request.POST.search_text}}">
            <div class="input-group-append">
              <button class="btn btn-primary save" type="submit" autocomplete="off">Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  </div>
  <br><br>
  <!-- heading_create ends here -->
  <!-- filter_row starts here -->
  <div class="filter_row row marl">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="table_container_row row marl no-gutters">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="panel-heading-list card-title text-right">
                <span class="total_count float-left ">Recently added agents - {% if show_pageitems %} {% show_pageitems %}{% else %}{{open_accounts|length}}{% endif %}</span>
              </div>
              <br>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    {% if open_accounts|length > 0 %}
                    <tr>
                      <th width="5%">ID</th>
                      <th width="15%">Name</th>
                      <th width="10%">Created By</th>
                      <th width="15%">City</th>
                      <th width="15%">State</th>
                      <th width="10%">Actions</th>
                    </tr>
                    {% endif %}
                  </thead>
                  <tbody>
                    {% if per_page %}
                    {% paginate per_page open_accounts %}
                    {% else%}
                    {% paginate 10 open_accounts %}
                    {% endif %}
                    {% for each_account in open_accounts %}
                    <tr id="account_details{{each_account.id}}" class="text-center">
                      <td scope="row">{{ forloop.counter }}</td>
                      <td>{% if each_account.name %}<a href="{% url 'accounts:view_account' each_account.id %}">{{ each_account.name }}</a>{% endif %}</td>
                      <td>
                        {% if each_account.created_by.profile_pic %}
                          {% thumbnail each_account.created_by.profile_pic "40x40" crop="center" as im %}
                              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" title="{{ each_account.created_by }}">
                          {% endthumbnail %}
                        {% else %}
                            <img src="{% static 'images/user.png' %}" alt="Micro profile pic" style="width: 40px;height: 40px;" />
                        {% endif %}
                      </td>
                      <td>{% if each_account.billing_city %}{{ each_account.billing_city }} {% else %} Not specified {% endif %}</td>
                      <td>{% if each_account.billing_state %}{{ each_account.billing_state }} {% else %} Not specified {% endif %}</td>
                      <td class="actions">
                        <a href="{% url 'accounts:edit_account' each_account.id %}" class="btn btn-primary edit btn-sm">Edit agent details</a>
                        <a href="{% url 'accounts:remove_account' each_account.id %}" class="btn btn-outline-info btn-sm delete remove_account btn-sm">Delete agent</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% ifequal open_accounts|length 0 %}
              <h6 class="text-center">No Acccount Records Found</h6>
              {% endifequal %}
              <div class="text-center row marl">
                {% show_pages %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="/accounts/create" class="float">
      <i class="fa fa-plus my-float"></i>
  </a>
  <!-- filter_row ends here -->
  <!-- accounts list start -->
  <!-- accounts list end -->
</div>
<!-- main_container ends here -->
{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
  $("#close-tab").click(function(e){
    $("#tab_status").val('Closed');
  })
  
  $("#open-tab").click(function(e){
    $("#tab_status").val('Open')
  })
  
  tab_status = "{{tab_status}}"
  if(tab_status == 'Closed'){
    $("#close-tab").click()
  }else{
    $("#open-tab").click()
  }
  
  
  $('.remove_account').click(function(e){
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });
  
  $(".reset").click(function(e){
    window.location = "{% url 'accounts:list'%}"
  });


  search = "{{search}}"

  if (search == 'True'){
    $(".list_filter_row").show();
  }
  
  $(document).ready(function(){    
    $(".filter_toggle").click(function(){    
        $(".list_filter_row").toggle();    
    });    
  });  
  
  $("a[rel='page']").click(function(e){
    e.preventDefault();
    $('#accounts_filter').attr("action", $(this).attr("href"));
    $('#accounts_filter').submit();
  });
</script>
{% endblock js_block %}